@import '../../styles/variables/colors';
@import '../../styles/mixins/texts';

.dropdown {
    background-color: $secondary-color;
    border-radius: 10px;

    .header {
        @include medium-label-text(white);
        background-color: $primary-color;
        padding: 16px;
        border-radius: 10px;
        display: flex;
        justify-content: space-between;
    }
    .content {
        @include medium-text($primary-color);
        padding: 32px 16px 32px;
        display: flex;
        flex-direction: column;
    }
}
