@import '../../styles/utils';

.tag {
    width: max-content;
    border-radius: 10px;
    padding: 4px 32px;
    background-color: $primary-color;

    display: flex;

    span {
        @include small-label-text(white);
        text-align: center;
    }

    @include mobile-mode {
        padding: 4px 16px;
        span {
            @include xxsmall-label-text(white);
        }
    }
}
