@import '../../styles/utils';

.lodgmentCard {
    position: relative;
    width: 340px;
    height: 340px;
    border-radius: 10px;

    overflow: hidden;

    img {
        width: 100%;
        height: 100%;

        object-fit: cover;
    }

    div {
        position: absolute;
        top: 70%;
        width: 100%;
        height: 30%;
        background: linear-gradient(to bottom, transparent, black);

        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        span {
            @include medium-label-text(white);
            margin: 0 20px 20px 20px;
        }
    }

    &:hover {
        cursor: pointer;
    }

    @include mobile-mode {
        width: 100%;
    }
}
