@import '../../styles/mixins/elements';

.about {
    @include page-wrapper;

    .dropdownWrapper {
        padding: 110px;
        padding-top: 0;
        display: flex;
        flex-direction: column;
        gap: 30px;

        @include mobile-mode {
            padding: 0;
            padding-bottom: 110px;
        }
    }
}
