@import '../../styles/utils';

@keyframes rotateLoader {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.loader {
    height: 0;
    width: 0;
    border: 6px solid $primary-color;
    border-top-color: transparent;
    border-radius: 50%;
    padding: 10px;

    animation: rotateLoader 1s infinite linear;
}
