@import '../../styles/utils';

.lodgmentList {
    border-radius: 25px;
    padding: 60px;
    background-color: $secondary-color;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;

    .errorMessage {
        @include medium-label-text($primary-color);
    }

    @include mobile-mode {
        padding: 0;
        background-color: transparent;
        gap: 20px;
    }
}
