@import '../../styles/utils';

.galery {
    position: relative;
    width: 100%;
    height: 416px;
    border-radius: 25px;

    overflow: hidden;

    .view {
        width: 100%;
        height: 100%;

        object-fit: cover;
    }

    .arrowLeft,
    .arrowRight {
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);

        cursor: pointer;
    }

    .arrowLeft {
        left: 4%;
    }

    .arrowRight {
        left: 96%;
    }

    span {
        @include medium-label-text(white);
        position: absolute;
        top: 92%;
        left: 50%;
        width: max-content;
        transform: translate(-50%, -50%);
    }

    @include mobile-mode {
        height: 254px;

        .arrowLeft,
        .arrowRight {
            height: 20px;
        }
    }
}
