@import '../../styles/mixins/texts';
@import '../../styles/mixins/elements';

.galery {
    width: 100%;
    height: 416px;
    overflow: hidden;
    position: relative;
    border-radius: 25px;

    .view {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .arrowLeft,
    .arrowRight {
        cursor: pointer;
        position: absolute;
        transform: translate(-50%, -50%);
        top: 50%;
    }

    .arrowLeft {
        left: 4%;
    }

    .arrowRight {
        left: 96%;
    }

    span {
        @include medium-label-text(white);
        width: max-content;
        position: absolute;
        top: 92%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    @include mobile-mode {
        height: 254px;

        .arrowLeft,
        .arrowRight {
            height: 20px;
        }
    }
}
