@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    // border: 1px solid gray;
    margin: 0;
}

body {
    padding-top: 30px;
    margin: auto;
    max-width: 1240px;
    font-family: -apple-system, Montserrat, BlinkMacSystemFont, 'Segoe UI',
        'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    text-decoration: none;
}
