@import '../../styles/variables/colors';
@import '../../styles/mixins/texts';

header {
    display: flex;
    justify-content: space-between;

    img {
        content: url(../../assets/logo.svg);
        height: 64px;
    }

    nav {
        display: flex;
        align-items: center;
        gap: 64px;
    }

    a {
        @include large-label-text($primary-color);
    }
}
