@import '../../styles/utils';

header {
    display: flex;
    justify-content: space-between;

    img {
        height: 64px;
    }

    nav {
        display: flex;
        align-items: center;
        gap: 64px;
    }

    a {
        @include large-label-text($primary-color);
    }

    @include mobile-mode {
        img {
            height: 46px;
        }

        nav {
            gap: 16px;
        }

        a {
            @include xsmall-label-text($primary-color);
        }
    }
}
