@import '../../styles/mixins/texts';
@import '../../styles/mixins/elements';

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;

    padding: 50px 0 30px 0;
    background-color: black;

    width: 100vw;
    height: 124px;
    position: absolute;
    left: 0;

    img {
        content: url(../../assets/logo_white.svg);
        height: 42px;
    }

    p {
        @include large-label-text(white);
        text-align: center;
    }

    @include mobile-mode {
        gap: 30px;

        p {
            @include xsmall-label-text(white);
        }
    }
}
