@import '../../../../styles/utils';

.mentionSection {
    margin-top: 16px;

    display: flex;
    justify-content: space-between;

    @include mobile-mode {
        flex-direction: column;
        gap: 20px;
    }
}
