@import '../../styles/mixins/elements';
@import '../../styles/mixins/texts';
@import '../../styles/variables/colors';

.details {
    @include page-wrapper;
}

.titleSection {
    display: flex;
    justify-content: space-between;

    h1 {
        @include title-text($primary-color);
        margin-bottom: 10px;
    }

    span {
        @include medium-label-text($primary-color);
        line-height: 26px;
        text-align: right;
    }

    @include mobile-mode {
        h1 {
            @include medium-label-text($primary-color);
        }

        span {
            @include small-label-text($primary-color);
        }
    }
}

.ratingWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hostDivision {
    display: flex;
    align-items: center;
    gap: 16px;

    img {
        width: 64px;
        height: 64px;
        border-radius: 50%;
    }

    @include mobile-mode {
        display: none;
    }
}

.hostDivision-mobile {
    display: none;
    align-items: center;
    gap: 16px;

    img {
        width: 32px;
        height: 32px;
        border-radius: 50%;
    }

    span {
        @include xsmall-label-text($primary-color);
    }

    @include mobile-mode {
        display: flex;
    }
}

.tagSection {
    margin-top: 16px;
    display: flex;
    justify-content: space-between;

    @include mobile-mode {
        flex-direction: column;
        gap: 20px;
    }
}

.tagWrapper {
    display: flex;
    gap: 8px;
}

.describeSection {
    display: flex;
    align-items: stretch;
    gap: 60px;

    .dropdown {
        width: 50%;
    }

    @include mobile-mode {
        flex-direction: column;
        gap: 20px;

        .dropdown {
            width: 100%;
        }
    }
}
