@import '../../styles/mixins/texts';
@import '../../styles/mixins/elements';

.banner {
    width: 100%;
    height: 224px;
    overflow: hidden;
    position: relative;
    border-radius: 25px;
    background-color: black;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        opacity: 70%;
    }

    h1 {
        @include teaser-text(white);
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        transform: translate(-50%, -50%);
    }

    @include mobile-mode {
        height: 110px;
        border-radius: 10px;

        h1 {
            @include large-label-text(white);
            text-align: left;
            left: 20px;
            width: 220px;
            transform: translate(0, -50%);
        }
    }
}
