@import '../../styles/utils';

.banner {
    position: relative;
    width: 100%;
    height: 224px;
    border-radius: 25px;
    background-color: black;
    overflow: hidden;

    img {
        width: 100%;
        height: 100%;
        opacity: 70%;
        object-fit: cover;
    }

    h1 {
        @include teaser-text(white);
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        transform: translate(-50%, -50%);
        text-align: center;
    }

    @include mobile-mode {
        height: 110px;
        border-radius: 10px;

        h1 {
            @include large-label-text(white);
            left: 20px;
            width: 220px;
            transform: translate(0, -50%);
            text-align: left;
        }
    }
}
