@import '../../styles/utils';

.error {
    @include page-wrapper;
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
        @include error-text($primary-color);
        margin-top: 80px;
    }

    span {
        @include title-text($primary-color);
        text-align: center;
    }

    a {
        @include medium-label-text($primary-color);
        margin: 140px 0;
        text-decoration: underline;
    }

    @include mobile-mode {
        h1 {
            font-size: 96px;
        }

        span {
            font-size: 18px;
        }

        a {
            font-size: 14px;
        }
    }
}
